html {
    height: 100%;
}

body {
    font-family:'Courier New', Courier, monospace;
    background:  #b66666;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    font-size: 32px;
}

h3 {
    margin: 0;
    margin-bottom: 100px;
    font-size: 20px;
}

.wrapper {
    text-align: center;
    width: 350px;
    margin: 20px;
}

button {
    font-size: 25px;
    font-family:inherit;
    font-weight: bold;
    border-radius: 12px;
    border: 1px solid #ffe7e7;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #b66666;
    margin-top: 30px;
}

img {
    margin-top: 20px;
    width: 100%;
}

#message {
    display: none;
    position: fixed;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #ff7b00;
}